.locale-change-component-wrapper{
  display: inline-block;
  overflow: visible;
  height: 2em;
  position: absolute;
  top:5rem;
  right:5rem;
  height: 2rem;
  width: 5rem;
}

.locale-change-component{
  overflow: hidden;
  position: absolute;
  z-index: 2;
  &--closed{
    height: 2rem;
  }

  &--open{
      height: auto;
  }
}
