.locale-change-item{
  max-width: 3rem;
  max-height: 2rem;
  display: block;

  &__flag{
    width: 100%;
    height: auto;
    &--hidden{
      display: none;
    }

    &--visible{
      display: block;
    }
  }
}
