.add-translation
  position: relative;
  display: inline-block;
  &__input-area
    position: absolute;
    background-color: #aaaaaa;
    &_closed
      display: none;
    &_open
      display: block;
  &__open-btn
    display: block;
