.login-componnet__form-container{
  &:before{
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
  &:after{
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
}

.login-component__label{
  display: block;
  line-height: 2.2em;
  float: right;
}

.login-component__label-container{
    &:before{
      content: " ";
      clear: both;
      display: block;
      visibility: hidden;
      height: 0px;
    }
    &:after{
      content: " ";
      clear: both;
      display: block;
      visibility: hidden;
      height: 0px;
    }
  display: inline-block;
  float: left
}

.login-component__input{
  display: block;
  height: 1.5em;
  line-height: 1.5em;
}

.login-component__input-container{
  display: inline-block;
  float: right;
}
