@require './fonts'
@require './colors'

$sans-serif = Ubuntu, sans-serif
$font-family = $sans-serif

:global
  body
    width:100vw;
    height:100vh;
    display:block;
    margin:0
    background-color: main_background_color
    font-family: $font-family
    font-weight: bold

  #app-root
    width:100%;
    height:100%;
    display:block;
